<html>
    <head>
    <title> Notre équipe </title>
    </head>
    <body>
        <h1> Ousmane Ndiaye </h1>
        <h1> Tidiane Toure </h1>
        <h1>serigne</h1>
        <h1>Seynabou Niang</h1>
    </body>
</html>